<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Vue Events Manager</title>
</head>
<body>
 <!-- navigation bar -->
 <nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white">
      <svg class="bi bi-bell" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z"/>
        <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z" clip-rule="evenodd"/>
      </svg>
      
      Events Bulletin Board</a>
  </div>
</nav>

<!-- main body of our application -->
<div class="container mt-4" id="events">

  <div class="jumbotron">
    <h1 class="text-center">{{message}}</h1>
  </div>
  <!-- add an event form -->
  <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-12 col-xs-12 mb-5">
      <h3>Add Event</h3>
      <form action="">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label for="">Event Name</label>
              <input type="text" v-model="event.name" name="event-name" id="" class="form-control" placeholder="Event Name" required>
            </div>
            <div class="form-group">
              <label for="Event Description">Event Description</label>
              <textarea name="event-description" v-model="event.description" id="" class="form-control" placeholder="Event Description" required></textarea>
            </div>
            <div class="form-group">
              <label for="Event Date">Event Date</label>
              <input type="date" v-model="event.date" name="event-date" id="" class="form-control" placeholder="Event Name" required>
            </div>
            <button type="" class="btn btn-primary" v-on:click.prevent="addEvent()">Submit Event</button>
          </div>
        </div>
      </form>
    </div>
  
    <!-- show the events -->
    <div class="col-sm-6 col-lg-6 col-md-12 col-xs-12">
      <h3>List of Events</h3>
      <div class="card mb-4" v-for="event in events" :key="event.id">
        <h5 class="card-header bg-primary text-white"> {{event.name}} </h5>
        <div class="card-body">
          <p class="card-text"> {{event.description}} </p>
          <p> {{event.date}} </p>
          <button class="btn btn-primary" v-on:click="editEvent()">Edit Event</button>
          <button class="btn btn-danger" v-on:click="deleteEvent (event)">Delete Event</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
<script src="app.js"></script>
</body>
</html>